---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import PolybeImage from '../assets/Polybe/Polybe-Histoire-Cover.jpg';
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';
---

<Layout
	title="About me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2024')}
	heroImage={AboutHeroImage.src}
>
	<h2></h2>
	<p></p>
	
	<Image 
		src={PolybeImage} 
		alt="Hannibal et ses éléphants de guerre"
		class="my-image"
	/>
	
	<p></p>
</Layout>